#app,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f1f2 !important;
}

.inputGroup {
  margin-top: 15px;
  color: #727272;
}
.inputGroup label {
  /* padding-bottom: 5px; */
  font-size: 12px;
}

.inputGroup input,
.inputGroup select {
  border: 1px solid #d1d1d1;
  padding: 5px 15px;
  border-radius: 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input:focus-visible {
  outline: 2px solid #20986e;
}

.generalButton {
  background-color: #20986e;
  color: #fff;
  border: 0;
  border-radius: 100px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #20986e !important;
  font-weight: 500;
}

.bi-trash3-fill {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* RIMUOVE FRECCE */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* modules colors */

/* OFFICINE */

.moduleList.activeModule.OFFICINE {
  background: linear-gradient(
    130deg,
    rgb(0, 21, 255) 0%,
    rgb(0, 197, 241) 100%
  );
}
.moduleList.activeModule.OFFICINE *{
  color: #fff !important;
}

/* DIPENDENTI */

.moduleList.activeModule.DIPENDENTI {
  background: linear-gradient(
    130deg,
    rgb(0, 143, 69) 0%,
    rgb(1, 190, 136) 100%
  );
}
.moduleList.activeModule.DIPENDENTI * {
  color: #fff !important;
}

/* MAGAZZINO */
.moduleList.activeModule.MAGAZZINO {
  background: linear-gradient(
    130deg,
    rgb(219, 153, 0) 0%,
    rgb(255, 205, 87) 100%
  );
}
.moduleList.activeModule.MAGAZZINO * {
  color: #fff !important;
}
